		@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800);
		body{
			background-color: #001822;
		}

		@font-face {
 		   	font-family: Lobster;
    		src: url(Lobster.otf);
		}
		@font-face{
			font-family: Mohave-Bold;
			src:url(Mohave-Bold.otf);
		}

		@font-face{
			font-family: Mohave;
			src:url(Mohave.otf);
		}

		h3,h1{
			font-family: Mohave;
		}


		h1{
			color:#b22;
			text-align: left;
		}

		hr{
			border: 1px solid #222;
			margin: 0px;
		}

		.top-bar-section li:not(.has-form) a:not(.button){
			background: #001822;
			color: #333;
		}



		div.headtext{
			font-size: 200px;
		   	color: #fff;
		   	margin-top: 100px;
		   	margin-bottom: 100px;
		   	height: 200px;
		 	vertical-align: bottom;
		}
		div.headtext .mohave{
			font-family:"Mohave";
			font-size: 80px;
		   	color: #fff;
		   	vertical-align: 40%;
		}

		
		.top-bar{
			background-color: #001822;
			color:#aaa;
		}

		.top-bar .name h1 a{
			color:#aaa;
			font-size: 1.4rem;
		}


		.top-bar .name h1 a:hover{
			color:#b22;
		}


		.top-bar .right li a{
			color:#aaa;
			font-size: 1.4rem;
		}

		.top-bar-section li:not(.has-form) a:not(.button){
			color: #aaa;
		}

		.myname{
			font-family: Mohave;
			font-size: 3em;
			color: #fff;
			margin-bottom: 10px;
			text-align: center;
		}

		.hrline hr{
			border: 2px solid #343434;
			margin: 0px;
		} 

		.lobster{
			font-family: Lobster;
			font-size: 5em;
			color: #005373;
			text-align: center;
			line-height: 1.2em;
			vertical-align: bottom;
		}

		.kozuka {
			font-family: Open Sans;
			font-size: 4em;
			color: #005373;
			text-align: center;
			vertical-align:middle;
			padding: 0px;
		}
  
  		.list ul{
  			list-style: none;
  			text-align: center;
  		}

  		.list li a{
  			text-decoration: underline;
  			line-height: 1.7em;
  		}


  		 .para{
  			color: #aaa;
  			font-family: Open Sans;
  			text-align: justify;
  			margin-bottom: 50px;
  		}